body {
    background-color:#E9F1F3;
}

.img {
    display: flex;
    justify-content: center;
    margin: 30px 20px;
    height: auto;
    width: 100%;    
}

#about {
    text-align: justify;
    height: auto;
    width: auto;
    padding: 10px 50px 10px 50px;
}